{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>ToDo</title>

    <!-- <link rel="stylesheet" href="./styles/index.css"/> -->
    <link href="{% static 'styles/index.css' %}" rel="stylesheet">

    <link href="{% static 'styles/checkbox.css' %}" rel="stylesheet">

</head>
<body>
    <!-- <h2>Это тестовая страница</h2>
    {% for todo in todo_list %}
        <h3>{{ todo.text }} - {{ todo.created_at}}</h3>
    {% endfor %}
     -->

     <section><!--"Этот тег нужен для группировки взаимосвязанного содержимого"
        Мы логически делим страницу на 2 части 
        1-ая часть это создание нового задания. А 2-я для отображения созданного -->
    
            <div class="create_container">
                <input class="create_input" type="text" placeholder="Нажмите сюда чтобы создать задачу"/>
                <button class="create_button">Добавить</button>
            </div>
    
            <div class="todo_container">

                {% for todo in todo_list %}
    
                <div class="todo_item">
                    <div class="todo_item_header">
                        <label class="checkbox_container">
                            <input type="checkbox" id="checkbox" >
                            <span class="checkmark"></span>
                        </label>
                        <h4>{{ todo.text }}</h4>
                    </div>
    
                    <div class="todo_item_footer">
                       <p>{{ todo.created_at }}</p> <!-- Для обработки с backend -->
                       <div class="action_buttons">
                            <img src="./icons/inactive_star.png" />
                            <img src="./icons/delete.png" />
                       </div> <!-- Иконки в 1 строчку -->
                    </div>
                </div>
                {% endfor%}


            </div>
    
            
    
    
        </section>
</body>
</html>