<!-- Подгружаем статические файлы -->
{% load static %} 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>test</title>

    <!-- <link rel="stylesheet" href="./styles/index.css"/> -->
    <link href="{% static 'styles/index.css' %}" rel="stylesheet">

    <link href="{% static 'styles/checkbox.css' %}" rel="stylesheet">

</head>
<body>
     <section>
            <div class="create_container">
                <form action="{% url 'add-todo' %}" method="POST">
                    {% csrf_token %}
                    <input 
                    class="create_input" 
                    type="text" 
                    placeholder="Нажмите сюда чтобы создать задачу"
                    name="todo_text"
                    />
                    <button class="create_button">Добавить</button>
                </form>
            </div>
    
            <div class="todo_container">
               <!-- Для того чтобы отобразить наши записи todo_list которые мы получили из базы
                   нужно использовать цикл шаблонизатора 
                Так же цикл сработает столько раз сколько у нас обьектов в todo_list-->
                {% for todo_object in todo_list  %}

                <div class="todo_item">
                    <div class="todo_item_header">
                        <label class="checkbox_container">
                            <input type="checkbox" id="checkbox" onchange="change_text()">
                            <span class="checkmark"></span>
                        </label>

                        <!-- Подставляем значение(текст) полученный из todo_list в тег h4 -->
                        <h4>{{ todo_object.text }}</h4>
                        
                    </div>
    
                    <div class="todo_item_footer">
                        <!-- Подставляем значение(дата) полученный из todo_list в тег p  -->
                       <p>{{ todo_object.created_at }} </p>   
                       <div class="action_buttons">
                            <img src="{% static './icons/inactive_star.png' %}" />
                            <a href="{% url 'delete-todo' todo_object.id %}"><img src="{% static './icons/delete.png' %}" /></a>
                       </div> <!-- Иконки в 1 строчку -->
                    </div>
                </div>
                   
                    
                {% endfor %}



            </div>
               
    
        </section>
</body>
</html>